<li>
	{{name}}

	{{#if devoured}}

	<button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
		Devour
		</button>
	<button class="delete-burger" data-id="{{this.id}}">Delete!</button>


	{{else}}


	<button class="delete-burger" data-id="{{this.id}}">Delete!</button>
	

	{{/if}}
</li>


