<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="burger-image">
 <div class="burger-text">
<div class="jumbotron">
<div class="display-4 text-center">
 <img src="../assets/image/hamburger.png" alt="Burger" width="300" height="200"</image>
<h1>Burgers!</h1>
</div>

</div>


<h2>Available Burgers</h2>

<ul>
  {{#each burgers}}
   <li>
  	   {{this.name}}<button data-burgerid="{{this.id}}" class="delburger">Delete</button>

  	</li>
  {{/each}}
</ul>


<h2>Devoured Burgers!</h2>

<ul>
  {{#each burgers}}
   <li>{{name}}</li>
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form id="createburger" class="create-form" >

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  
  <button type="submit">Add Burger</button>
</form>

<h2>update a Burger</h2>
<form id ="updateburger" class="create-form">
<select name="id">
		{{#each burgers}}
			<option value="{{this.id}}">{{this.name}}</option>
		{{/each}}
	</select>
  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>
  
  <button type="submit">update Burger</button>
</form>

</div>
</div>
<script type="text/javascript">
  $(".delburger").on("click", function(event) {
    // Get the ID from the button.
    // This is shorthand for $(this).attr("data-planid")
    var id = $(this).data("burgerid");

    // Send the DELETE request.
    $.ajax("/api/burgers/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#createburger").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // [name=burger] will find an element with a "name" attribute equal to the string "burger"
    var newName = {
      name: $("#createburger [name=name]").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/burgers", {
      type: "POST",
      data: newName
    }).then(
      function() {
        console.log("created new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#updateburger").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // Get the ID by finding an element with a "name" attribute equal to the string "id"
    var id = $("[name=id]").val().trim();

    var updatedBurger = {
      name: $("#updateburger [name=name]").val().trim()
    };

    // Send the PUT request.
    $.ajax("/api/burgers/" + id, {
      type: "PUT",
      data: updatedBurger
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>

