<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newDevour="{{devoured}}">
		{{#if devoured}}devoured TIME!{{else}}no devoured{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
